<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') -%>
</head>

<body>
    <%- include('partials/header') -%>
        <div class="container">
            <div class="g-0 row justify-content-center align-content-center h-100 mt-5">
                <div class="card shadow mb-3 d-flex justify-content-center">
                    <div class="row g-0">
                        <div class="col-lg-4 d-lg-block d-md-none d-sm-none d-none">
                            <img src="/images/alexandra-fuller-_8kC6tyFWco-unsplash.jpg" class="card-img-top" alt="...">
                        </div>
                        <div class="col-lg-8 col-md-12 d-flex justify-content-center align-items-center">
                            <div class="card-body">
                                <div class="text-center">
                                    <h3>Create Account</h3>
                                    <% if (typeof errors !='undefined' ) { %>
                                        <% errors.forEach(error=> { %>
                                            <div class="alert alert-warning alert-dismissible fade show w-50 mx-auto">
                                                <p>
                                                    <%= error.msg %>
                                                </p>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                            <% }) %>
                                                <% } %>
                                </div>
                                <form id="register-form" class="mt-3 mx-auto w-50" method="POST">
                                    <div class="mb-3">
                                        <input type="email" id="email" class="form-control" name="email"
                                            placeholder="Email" value="<%= typeof email != "undefined" ? email : ''%>">
                                    </div>
                                    <div class="mb-3">
                                        <input type="text" id="name" class="form-control" name="name" placeholder="Name"
                                            value="<%= typeof name != "undefined" ? name : '' %>">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="Password">
                                    </div>
                                    <div class="mb-3">
                                        <input type="password" id="confirm-password" class="form-control" name="confirm"
                                            placeholder="Confirm password">
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button type="submit" class="btn btn-primary">Register</button>
                                        <p class="text-center">Already have an account? Go to <a href="/"
                                                class="text-decoration-none">login page</a></p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/footer') -%>
</body>

</html>